[include]
	path = .gitconfig-aliases

[user]
	name = Your Name
	email = your@email.com

[core]
	editor = nvim
	autocrlf = input
	excludesFile = ~/.gitignore_global
	pager = less -FX
	fsmonitor = true
	untrackedCache = true

[color]
	ui = auto

[init]
	defaultBranch = main

[pull]
	ff = only

[push]
	autoSetupRemote = true
	followTags = true

[fetch]
	prune = true

[merge]
	conflictstyle = zdiff3

[rebase]
	autoStash = true
	autoSquash = true

[rerere]
	enabled = true

[diff]
	algorithm = histogram
	colorMoved = zebra

[status]
	short = true
	branch = true

[commit]
	template = ~/.gitmessage
	verbose = true

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[column]
	ui = auto

[help]
	autocorrect = prompt
