[include]
	path = .gitconfig-aliases

[user]
	name = Your Name
	email = your@email.com

[core]
	editor = nvim
	autocrlf = input
	excludesFile = ~/.gitignore_global
	pager = less -FX

[color]
	ui = auto

[init]
	defaultBranch = main

[pull]
	ff = only

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[merge]
	conflictstyle = zdiff3

[rebase]
	autoStash = true

[rerere]
	enabled = true

[diff]
	algorithm = histogram
	colorMoved = zebra

[status]
	short = true
	branch = true

[commit]
	template = ~/.gitmessage

[help]
	autocorrect = prompt
